body {
    padding-top: 70px;
    font-family: 'Roboto', sans-serif;
    background-color: #e8f0f5;
    position: relative;
    max-height: 100%;
    padding-bottom: 77px;
}

.bootstrap-tagsinput {
    width: 100% !important;
}

.btn-numbered-page, .btn-first-page, .btn-last-page, .btn-prev-page, .btn-next-page  {
    cursor: pointer;
}

/*Login page*/

.form-container {
    padding: 50px;
}

.form-heading {
    color: rgb(0, 188, 212);
}

/*Header*/

.avatar {
  margin: 7px 0 7px 0;
}

/*Add Article*/

.dropzone-container {
  margin-bottom: 20px;
}

.previewImage {
  width: auto;
  height:80%;
}

.dropzone {
  vertical-align: middle;
  text-align: center;
}
